@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 0 100% 40.2%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;
 
    --accent: 8.57 82.8% 18.24%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
}

* {
  font-family: 'Montserrat', 'Roboto', sans-serif
}

html, body {
  height: 100%;
  margin: 0;
}

.flow-col {
  flex-flow: column; 
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}